@model dynamic

@{
    Layout = "~/Views/Shared/Template.cshtml";

}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>@ViewBag.Message</title>
    </head>
    <body>
        <br />
        <h5>TOP TEN COVID CASES UP TO: @ViewBag.Date</h5>
        @using (Html.BeginForm("Covid19Province", "Home", FormMethod.Post, new { @class = "form-inline" }))
        {
    <div>
        <select style="font-size:medium" class="form-control form-control-static" name="Region" id="Region">
            @foreach (var region in Model.region)
            {
                if (region.iso == ViewBag.Region)
                {
                    <option value=@region.iso selected>@region.name</option>
                }
                else
                {
                    <option value=@region.iso>@region.name</option>
                }
            }
        </select>
            <button class="btn-lg"
                    type="submit">
                Report
            </button>
    </div>
            <div style="width:50% " class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn-lg"
                        id="xml"
                        type="button"
                        onclick="onclick = location.href = '@Url.Action("Covid19ProvinceStatToXml", "Home")' + '?Region=' + $('#Region').val()">
                    XML
                </button>

                <button class="btn-lg"
                        type="button"
                        onclick="onclick=location.href='@Url.Action("Covid19ProvinceStatToJson", "Home")'+'?Region=' + $('#Region').val()">
                    JSON
                </button>
                <button class="btn-lg"
                        type="button"
                        onclick="onclick=location.href='@Url.Action("Covid19ProvinceStatCvs", "Home")'+'?Region=' + $('#Region').val()">
                    CVS
                </button>
            </div>
        }

        <div style="border:thin">
            <table>
                <thead>
                    <tr>
                        <th class="text-left" style="font-size:large">Province</th>
                        <th class="text-right" style="font-size:large">Cases</th>
                        <th class="text-right" style="font-size:large">Deaths</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var covid19 in Model.province)
                    {
                        <tr>
                            <td align="left" width="25%">@covid19.region_name</td>
                            <td align="right">@String.Format("{0:N0}", covid19.cases)</td>
                            <td align="right">@String.Format("{0:N0}", covid19.deaths)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        @using (Html.BeginForm("Covid19", "Home"))
        {
            <button class="btn-lg" type="submit">Back to Regions</button>
        }
    </body>
</html>
